body {
  background-color: #eee;
  color: #333;
}

.App {
  width: 100vw;
  max-width: 900px;
}

.row {
  display: flex;
}

.col {
  padding: 0 10px;
}

.col-right {
  margin-left: auto;
  padding-left: 100px;
}

.Affix__new-word {
  min-width: 150px;
}

.Affix__rule-affix,
.Affix__rule-add,
.Affix__rule-remove,
.Affix__rule-match,
.Affix__rule-line,
.Affix__rule-code,
.Affix__rule-combineable {
  color: gray;
}

.Affix__line-no {
  display: inline-block;
  width: 40px;
  color: gray;
}

.Word__meta {
  color: gray;
}

.Word__search-match {
  border-bottom: 2px solid orange;
}
